#blod{
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
}
.a1{
    padding: 10px;
    background-color: palevioletred;
    margin-top: auto;
}